.certificate {
    display: inline-block;
    margin: 0 0 0 15px;
}
.s-30-days {
    background: url(../img/sprites_lvl_1.png) no-repeat;
    background-position: 0 3px;
    height: 54px;
    width: 160px;
}
.paypro-secure {
	background: url(../img/sprites_lvl_1.png) no-repeat;
    background-position: -1px -65px;
    height: 54px;
    width: 160px;
}
.pci {
	background: url(../img/sprites_lvl_1.png) no-repeat;
	background-position: -218px -3px;
    height: 54px;    
    width: 112px;
}
.mcafee {
	background: url(../img/sprites_lvl_1.png) no-repeat;
	background-position: -217px -164px;
    height: 54px;    
    width: 112px;
}
.norton {
	background: url(../img/sprites_lvl_1.png) no-repeat;
	background-position: -218px -88px;
    height: 54px;    	
	width: 112px;
}
